### execution files ###
./a.out

### kernel modules ###
*.ko
*.mod.*
*.cmd
*.o
.tmp_versions
*.symvers
*.order

### tagging files ###
cscope.out
tags

# misc
*.mk
doc/
doc.zip
Doxyfile.bak

### user defined shell file ###
check_and_add
